[v-cloak] {
    display: none;
}
.hint {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #2094E6;
}
.section_title {
    margin-bottom: 60px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    color: #121212;
}
.img_border {
    padding: 10px;
    border: 2px solid #E3DEC1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blue_bg {
    background-color: #B1DAF6;
}
.reverse {
    flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
    .section_title {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .section_title {
        font-size: 30px;
        line-height: 46px;
    }
}